html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

button {
  background-color: #305f4d; 
  border: none;
  color: black;
  padding: 9px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.myiframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 55px);
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mydiv {position:fixed; bottom:0; left:0; width:100%; height:56px; display:flex; justify-content:space-between; align-items:center; background:#dbcb9d; padding:0 16px;}
