.myiframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mydiv {position:fixed; bottom:0; left:0; width:100%; height:46px; display:flex; justify-content:space-between; align-items:center; background:#dbcb9d; padding:0 16px;}